.App {
  font-size: calc(10px + 1vmin);
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: burlywood;
}

.imgbox {
  margin: 20px;
}

.search {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.searchInput {
  font-size: calc(10px + 2vmin);
  min-width: 90%;
}
